body {
  background-color: #141414;
  color: #f9f9f9;
  font-family: serif;
  margin: 0;
  border: 0;
  padding: 0;
  height: 100%;
}

#introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 2em;
}

#status {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
